@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
    --primary-background-color: #F5F8FD;
    --primary-font-color: #1A3447;
    --secondary-color: #29A3DA;
}



body {
    font-family: "poppins";
}

.classroom-hero-section {
    background-color: var(--primary-background-color);
    padding: 30px 0;
    position: relative;

    z-index: 3;

}

.classroom-hero-section .model {
    z-index: 3;

}

.classroom-hero-section .model img {
    width: 100%;
    display: block;
    margin: 0 auto;

}

.classroom-hero-section h1.tag-line {
    font-weight: 700;
    font-size: 60px;
    color: var(--primary-font-color);
}

.classroom-hero-section h1.tag-line span {
    color: var(--secondary-color);
}

.classroom-hero-section a#get-started {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 18px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 17px 38px;
    margin-top: 45px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 40px;
}

.classroom-hero-section .row {
    justify-content: center;
    align-items: center;
}



.classroom-hero-section .rectangle-white img {
    width: 42%;
    position: absolute;
    top: -217px;
    right: 0px;
    z-index: 1;
}

.classroom-features-section {
    background-color: var(--primary-background-color);
    padding-top: 40px;
    position: relative;
    overflow: hidden;

}

.classroom-features-section h2.tagline {
    color: var(--primary-font-color);
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-top: 80px;
}

.classroom-features-section p.sub-tagline {
    color: var(--primary-font-color);
    text-align: center;
    font-size: 18px;
}

.classroom-features-section .card {
    border-radius: 15px;
    padding: 30px 10px;
    border: none;
    margin-top: 20px;
    transition: .3s;

}

.classroom-features-section .card:hover {
    box-shadow: 35px 40px 100px rgb(31 175 203 / 10%);
    transform: scale(0.98);
}

.testimonial_card:hover {
    /* box-shadow: 5px 10px 50px rgba(31, 174, 203, 0.092) */
    box-shadow: rgba(31, 174, 203, 0.092) 0px 8px 24px;
    transform: scale(0.98);
}

.classroom-features-section .card img {
    width: 70px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 15px;
    box-shadow: 15px 15px 50px rgba(112, 112, 112, 0.1);

}

.classroom-features-section .card h3.card-title {
    color: var(--primary-font-color);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.classroom-features-section .card p.card-text {
    color: #000;
    opacity: 0.6;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.classroom-features-section .rectangle1 {
    margin-top: -827px;
    max-width: 800px;
}

.classroom-features-section .rectangle1 img {
    width: 761px;
    height: 587px;
}


.classroom-features-section .rectangle2 {
    max-width: 800px;
    height: 500px;
}

.classroom-features-section .rectangle2 img {
    max-width: 680px;
    margin-left: 160px;
    margin-top: 142px;

}

.classroom-features-section .rectangle3 {
    position: absolute;
    position: absolute;
    right: -94px;
    bottom: -430px;
}

.faq-section {
    /* background-color: #FFFFFF; */
    background-image: url('/assets/images/Group33642.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;

}

.faq-section h2.tagline,
.why-us-section h2.tagline,
.testimonial_section h2.tag-line {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: var(--primary-font-color);

    line-height: 48px;

}

.faq-section h2.tagline span,
.why-us-section h2.tagline span {
    color: var(--secondary-color);
}

.faq-section .statistics-container {
    background: #FFFFFF;
    box-shadow: 0px 15px 40px rgba(183, 183, 183, 0.12);
    border-radius: 8.75994px;
    max-width: 1100px;
    margin: auto;
    margin-top: 0;
    z-index: 5;
    position: relative;
    margin-top: -65px;
    margin-bottom: 80px;
}

.faq-section .statistics-container .statistics-number {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 42px;
    margin: 0;
}

.faq-section .statistics-container .statistics-label {
    font-weight: 500;
    font-size: 22px;
    color: var(--primary-font-color);
}

.faq-section .accordion-item {
    border-bottom: 1.46753px solid rgba(0, 0, 0, 0.11) !important;
}

.faq-section .accordion-item:last-of-type {
    border-bottom: transparent !important;
}

.faq-section .accordion-item,
.faq-section .accordion-button,
.faq-section .accordion-body {
    background: transparent !important;
    border: transparent;
}

.faq-section .accordion-item {
    padding: 0;
}

.faq-section .accordion-body {
    color: #1A3447;
    opacity: 0.6;
    line-height: 27px;
}

.faq-section .accordion-item .accordion-header button {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    border: none !important;
}

.faq-section .accordion-item .accordion-header .accordion-button::after {
    font-family: "FontAwesome";
    content: '\f105';
    background-image: none;
    color: var(--secondary-color);

}

.faq-section .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    transform: rotate(90deg);
}

.why-us-section {
    background-color: var(--primary-background-color);
    padding: 100px 0;
}

.why-us-section ul li {
    font-family: 'poppins';
    color: #012657;
    font-size: 22px;
    line-height: 36px;
    list-style: none;
    margin-top: 10px !important;
    background: url(/assets/images/badge.png) no-repeat 7px 7px transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 1px 1px 40px;
    vertical-align: middle;
}

.why-us-section ul li span img {
    margin-right: 10px;
    height: 50px;
}

.why-us-section .why-us-image {
    padding: 10px;
}

.why-us-section .why-us-image img {
    max-width: 100%;
    display: inline-block;
}

/* testimonial_section starts */
.testimonial_section {
    margin-top: 6em;
    margin-bottom: 2em;
    background-color: var(--primary-background-color);
    padding: 50px 0;
}

.testimonial_section .content {
    width: 50%;
    margin: 0 auto;
}

.testimonials {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.testimonial_card {
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
    position: relative !important;
    z-index: 1;
    transition: .3s ease-in;
    margin: 0 auto;
    min-height: 245px;
}

.testimonial_card .card_body {
    padding: .5em !important;
}

.testimonial_card:nth-child(2) {
    background-color: var(--primary-background) !important;
}

.testimonial_card .card_body {
    box-shadow: 0px 4px 8px rgba(17, 74, 43, 0.08) !important;
    border-radius: 8px;
}

.testimonial_card h2 {
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 2em;
}

.testimonial_card .content {
    width: 100%;
    min-height: 110px;
}

.quote {
    color: var(--secondary-color);
    font-size: 3rem;
}

.testimonial_card img {
    display: inline-block !important;
    margin-top: 3em !important;
    width: 100px !important;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    transition: .3s;

}

.card_image_container {
    position: absolute;
    bottom: -18%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.testimonials .owl-stage-outer {
    height: 400px;
}


.testimonial_section .owl-nav {
    position: absolute;
    bottom: 11px;
    right: 52px;
}


owl-nav button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


.common_carousel_previous,
.common_carousel_next {
    color: var(--secondary-color);
    border: 1px solid var(--primary-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 1em;
    transition: .3s ease-in;
}

.common_carousel_previous:hover,
.common_carousel_next:hover {
    color: #fff;
    background-color: #012657;

}

/* testimonial_section ends */

footer {
    background-image: url('/assets/images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}



footer h4 {
    font-weight: 700;
    font-size: 18px;
}

footer .contact-us ul li,
footer .quick-links ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 16px;
}

footer .quick-links ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 10px;
}

footer ul {
    padding-left: 0 !important;
    margin-top: 40px;
}

.footer-header-line {
    background-color: var(--secondary-color);
    opacity: 1;
    width: 48px;
    border: 2px solid var(--secondary-color);
}


footer .footer-form {
    display: flex;
    margin-top: 40px;
}

footer .footer-form input {
    border: 1px solid rgba(0, 0, 124, 0.2);
    border-radius: 6px 0px 0px 6px;
    padding: 10px 5px;
    text-align: center;
}

footer .footer-form button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 15px;
    height: 50px;
    border: none;
    margin-left: -1px;
    border-radius: 0px 6px 6px 0px;
}

footer .lower-footer {
    border-top: 1.5px dashed #FFFFFF;
    color: #fff;
    margin-top: 30px;
    padding: 0 10px;
}

footer .lower-footer img.lower-logo {
    width: 150px;
}

footer .lower-footer .social-icon {
    margin: 0;
}

footer .lower-footer .social-icon a {
    text-decoration: none;
    margin-right: 10px;
}

footer .lower-footer .container .row {
    margin: 0;
}

footer .pattern {
    position: absolute;
    right: 0;
}




@media only screen and (max-width: 1600px) {
    .classroom-features-section .rectangle3 {
        bottom: -500px;
    }
}



@media only screen and (max-width: 900px) {

    .classroom-features-section .card h3.card-title {

        font-size: 20px;
    }

    .testimonial_card {
        width: 90%;
    }

    .testimonials .owl-stage-outer {
        height: 500px;
    }

    .footer .container {
        width: 100%;
    }

    .footer-logo {
        width: 160px;
    }


    footer p {
        font-size: 10px;
    }

    footer h4 {
        font-size: 14px;
    }

    footer .contact-us ul li,
    footer .quick-links ul li {
        font-size: 12px;
    }

    footer .footer-form input {
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .classroom-hero-section {
        padding: 0 10px;
    }

    .classroom-hero-section h1.tag-line {
        font-size: 42px;
    }

    .classroom-features-section {
        padding: 0 20px;
    }

    .classroom-features-section h2.tagline,
    .faq-section h2.tagline,
    .why-us-section h2.tagline,
    .testimonial_section h2.tag-line {
        font-size: 28px;
    }

    .classroom-features-section p.sub-tagline {
        font-size: 16px;
    }

    .faq-section .statistics-container {
        max-width: 90%;
    }

    .faq-section .statistics-container {
        margin-top: -80px;
    }

    .why-us-section {
        padding: 80px 10px;
    }

    .why-us-section ul li {
        font-size: 18px;
        line-height: 28px;
    }

    .faq-section .accordion-item .accordion-header button {
        font-size: 18px;
        padding: 0;
    }

    .testimonial_section .testimonial_card {
        margin: 0 auto;
    }

    footer h4 {
        font-size: 18px;
    }

    footer .contact-us ul li,
    footer .quick-links ul li {
        list-style: none;
        margin-top: 10px;
        font-size: 16px;
    }

    footer .footer-form input {
        font-size: 14px;
    }

    footer .lower-footer .social-icon {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 468px) {
    .testimonials .owl-stage-outer {
        height: 400px;
    }

}