@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
    --primary-background-color: #F5F8FD;
    --primary-font-color: #1A3447;
    --secondary-color: #29A3DA;
}



body {
    font-family: "poppins";
    background-color: red;
}

.classroom-hero-section {
    background-color: var(--primary-background-color);
    padding: 30px 0;
    position: relative;

}

.classroom-hero-section .model {
    z-index: 3;
}

.classroom-hero-section .model img {
    width: 80%;
}

.classroom-hero-section h1.tag-line {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 60px;
    color: var(--primary-font-color);
}

.classroom-hero-section h1.tag-line span {
    color: var(--secondary-color);
}

.classroom-hero-section button {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 18px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 17px 38px;
    margin-top: 45px;
}

.classroom-hero-section .rectangle-white {
    /* position: absolute;
    top: -136px;
    right: -217px;
    z-index: 1; */
}

.classroom-hero-section .rectangle-white img {
    width: 580px;
    position: absolute;
    top: -100px;
    right: 0;
    z-index: 1;
}

.classroom-features-section {
    background-color: var(--primary-background-color);
    padding: 40px 0;
}

.classroom-features-section h2.tagline {
    color: var(--primary-font-color);
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

.classroom-features-section p.sub-tagline {
    color: var(--primary-font-color);
    text-align: center;
    font-size: 18px;
}

.classroom-features-section .card {
    border-radius: 15px;
    padding: 30px 0;
    border: none;
    margin-top: 20px;
}

.classroom-features-section .card img {
    width: 70px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 15px;
    box-shadow: 15px 15px 50px rgba(112, 112, 112, 0.1);

}

.classroom-features-section .card h3.card-title {
    color: var(--primary-font-color);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.classroom-features-section .card p.card-text {
    color: var(--primary-font-color);
    opacity: 0.6;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}